@import url('./style.css');

body {
  background-color: var(--background-dark);
  color: var(--form-light);
}

.settings-button {
  color: var(--font-light)!important;
}

.dropdown {
  background-color: var(--background-light);
}

#main-form {
  background-color: var(--background-light);
}

.form-input {
  color: var(--font-dark);
}

::placeholder {
  color: var(--placeholder-dark);
}

.button {
  color: var(--font-dark);
}

.delete-button {
  color: var(--delete-button);
}

.delete-all-button {
  color: var(--delete-button);
}

hr {
  background-color:var(--font-light);
}

#task-list {
  background-color: var(--background-light);
}

.task-item {
  background-color: var(--task-dark);
  color: var(--font-light);
}

#author {
  color: var(--font-light);
}

.fa-github {
  color: var(--font-light);
}
