@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.alert {
  position: absolute;
  top: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 230);
  font-family: 'Kalam', cursive;
}

#title {
  font-family: 'Permanent Marker', cursive;
  border-bottom: 2px solid red;
  font-size: 48px;
  margin: 20px 0px 10px 0px;
}

#subtitle {
  text-align: center;
  margin: 0px 20px 20px 20px;
  max-width: 500px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 67vh;
}

#main-form {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-right: 5px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
  background-color: rgb(189, 224, 255);
  background-color: rgb(29, 59, 105);
  border-radius: 10px;
}

.form-input {
  padding: 4px 10px;
  border-radius: 10px;
  border: 0px;
  background-color: rgb(29, 59, 105);
  color: white;
  outline: 0px;
}

.button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
  outline: 0px;
}

.material-icons {
  transition: font-size .15s ease-in-out;
}

.material-icons:hover {
  font-size: 28px;
}

.delete-button {
  color: rgb(255, 45, 45);
  opacity: 0;
  transition: opacity .15s ease-in-out;
}

.delete-all-button {
  color: rgb(255, 45, 45);
}

.task-item-container:hover > .material-icons > .delete-button {
  opacity: 1;
}

hr {
  width: 75%;
  max-width: 500px;
  background-color:black;
}

#task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  width: 95vw;
  max-height: 600px;
  max-width: 650px;
  padding: 15px;
  background-color: rgb(29, 59, 105);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}

.task-item-container {
  display: flex;
  align-items: center;
  margin: 0px 0px 5px 0px;
  transition: opacity .5s ease-in-out;
}

.fade-transition {
  opacity: 0;
}

.task-item {
  list-style-type: none;
  background-color: rgb(158, 211, 255);
  border-radius: 8px;
  padding: 8px 10px;
  width: fit-content;
  word-break: break-all;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 10px; */
  padding: 0px;
}

#author {
  margin: 3px;
}

::-webkit-scrollbar {
  display: none;
}